/* Utils */

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.p-2 {
    padding: 0.5rem;
}

.chip {
    font-size: 0.7em;
    padding: 0.5rem;
    border-radius: 999px;
    background-color: rgba(70, 138, 221, 0.441); 
}

.menu-item:hover {
    border-radius: 999px;
    background-color: rgba(158, 187, 222, 0.441); 
}

.text-right {
    text-align: right;
}