@import "utils.css";

@font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto.ttf);
}

body {
    margin: 0;
    font-family: "Roboto";
    color: white;
}

/* Main */
.wrapper {
    display: grid;
    grid-template-rows: 1fr 4fr auto auto;

    width: 100vw;
    height: 100vh;

    background-image: url(../../images/mount.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 32px 32px;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(2, 15%);
}

.tabs>div.tab {
    background-color: rgb(45, 42, 42);
    opacity: 0.8;
    padding: 16px 32px;
    text-align: center;
    border-bottom: 5px solid;
}

.tabs>div:nth-child(1) {
    border-color:  aqua;
}

.tabs>div:nth-child(2) {
    border-color: orange;
}

.values {
    display: grid;
    grid-template-columns: repeat(2, 15%) repeat(5, 1fr);
    backdrop-filter: blur(3px);
    /* align-items: stretch;
    justify-items: stretch; */
    /* background-color: rgb(45, 42, 42);
    opacity: 0.8; */
}

.values>div:nth-child(1) {
    display: grid;
    grid-template-rows: repeat(5, 1fr);

    font-size: 0.7em;
}

.values>div:nth-child(2) {
    display: grid;
    grid-template-columns: auto;
    font-size: 3em;
    font-weight: 600;
    align-items: center;
}

.values>div:nth-child(n+3) {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-left: 1px solid rgb(65, 64, 64);
}

.value {
    background-color: rgb(45, 42, 42);
    opacity: 0.8;

    gap: 12px;
    padding: 32px;
    text-align: center;
    align-items: center;
}

div.info > span {
    padding: 3px;
    font-size: 0.5em;
}