.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    width: 100vw;
    height: 100vh;
    gap: 5px;
}

.box-1 {
    background-color: aqua;
}

.box-2 {
    grid-column: span 2;
    background-color: rgb(144, 225, 225);
}

.box-3 {
    grid-row: span 2;
    background-color: rgb(212, 174, 247);
}

.box-4 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: bisque;
}