@import "utils.css";

@font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto.ttf);
}

body {
    margin: 0;
    font-family: "Roboto";
    color: white;
}

/* Main */

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.box-1 {
    display: flex;
    flex: 1;
    /* height: 16.7%; */
    flex-direction: row;
}

.box-2 {
    display: flex;
    flex: 3;
    /* flex: 1; */
    flex-direction: row;
}

.box-3 {
    display: flex;
    /* width: 66.7%; */
    flex: 2;
    flex-direction: column;
}

.box-4 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.box-5 {
    display: flex;
    flex: 1;
    /* flex: 1; */
    flex-direction: row;
}